:root {
  --var-bgcolor: #fff;
  --var-fontcolor: #000;
}



<!-- Yandex.RTB R-A-2268186-1 --><div class=inpostad id=yandex_rtb_R-A-2268186-4-10></div>



@media (prefers-color-scheme: dark) {
  :root {
    --var-bgcolor: #333;
    --var-fontcolor: #eee;
  }
}

body {
  background-color: var(--var-bgcolor);
  color: var(--var-fontcolor);
}
